{% extends "base.html" %}

{% block title %}Cars, brother{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for c in cars %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">
                    {{ c }}
                </h5>
                <p class="card-text">${{ c.price }}, {{ c.specifications }}.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
